<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>appearance</key>
	<false/>
	<key>appendsCommentSpacer</key>
	<true/>
	<key>autoExpandTab</key>
	<false/>
	<key>autoIndent</key>
	<true/>
	<key>autoLinkDetectionKey</key>
	<false/>
	<key>autoTrimsTrailingWhitespace</key>
	<false/>
	<key>defaultColoringStyleName</key>
	<string>Plain Text</string>
	<key>defaultLineEndCharCode</key>
	<false/>
	<key>defaultTheme</key>
	<string>Lakritz</string>
	<key>detectsIndentStyle</key>
	<true/>
	<key>documentConflictOption</key>
	<integer>2</integer>
	<key>enableHangingIndent</key>
	<true/>
	<key>enablesAutosaveInPlace</key>
	<true/>
	<key>encodingInNew</key>
	<integer>4</integer>
	<key>encodingList</key>
	<array>
		<integer>134217984</integer>
		<integer>4294967295</integer>
		<integer>2561</integer>
		<integer>2336</integer>
		<integer>1056</integer>
		<integer>1576</integer>
		<true/>
		<integer>2080</integer>
		<integer>4294967295</integer>
		<false/>
		<integer>1280</integer>
		<integer>4294967295</integer>
		<integer>1586</integer>
		<integer>2566</integer>
		<integer>2569</integer>
		<integer>2563</integer>
		<integer>2</integer>
		<integer>25</integer>
		<integer>2353</integer>
		<integer>2352</integer>
		<integer>1059</integer>
		<integer>1057</integer>
		<integer>4294967295</integer>
		<integer>3</integer>
		<integer>2368</integer>
		<integer>1058</integer>
		<integer>4294967295</integer>
		<integer>1053</integer>
		<integer>523</integer>
		<integer>4294967295</integer>
		<integer>4</integer>
		<integer>518</integer>
		<integer>1286</integer>
		<integer>6</integer>
		<integer>519</integer>
		<integer>1283</integer>
		<integer>5</integer>
		<integer>520</integer>
		<integer>1285</integer>
		<integer>7</integer>
		<integer>517</integer>
		<integer>1282</integer>
		<integer>1051</integer>
		<integer>29</integer>
		<integer>35</integer>
		<integer>37</integer>
		<integer>4294967295</integer>
		<integer>513</integer>
		<integer>514</integer>
		<integer>515</integer>
		<integer>516</integer>
		<integer>521</integer>
		<integer>522</integer>
		<integer>525</integer>
		<integer>526</integer>
		<integer>527</integer>
		<integer>528</integer>
		<integer>4294967295</integer>
		<integer>1024</integer>
		<integer>1281</integer>
		<integer>2817</integer>
		<integer>1536</integer>
		<integer>4294967295</integer>
		<integer>256</integer>
		<integer>268435712</integer>
		<integer>335544576</integer>
		<integer>201326848</integer>
		<integer>402653440</integer>
		<integer>469762304</integer>
	</array>
	<key>fileDropArray</key>
	<array>
		<dict>
			<key>extensions</key>
			<string>jpg, jpeg, gif, png</string>
			<key>formatString</key>
			<string>![&lt;&lt;&lt;FILENAME-NOSUFFIX&gt;&gt;&gt;](&lt;&lt;&lt;RELATIVE-PATH&gt;&gt;&gt;)</string>
			<key>scope</key>
			<string>Markdown</string>
		</dict>
		<dict>
			<key>formatString</key>
			<string>[&lt;&lt;&lt;FILENAME-NOSUFFIX&gt;&gt;&gt;](&lt;&lt;&lt;RELATIVE-PATH&gt;&gt;&gt;)</string>
			<key>scope</key>
			<string>Markdown</string>
		</dict>
		<dict>
			<key>extensions</key>
			<string>jpg, jpeg, gif, png</string>
			<key>formatString</key>
			<string>&lt;img src="&lt;&lt;&lt;RELATIVE-PATH&gt;&gt;&gt;" alt="&lt;&lt;&lt;FILENAME-NOSUFFIX&gt;&gt;&gt;" title="&lt;&lt;&lt;FILENAME-NOSUFFIX&gt;&gt;&gt;" width="&lt;&lt;&lt;IMAGEWIDTH&gt;&gt;&gt;" height="&lt;&lt;&lt;IMAGEHEIGHT&gt;&gt;&gt;" /&gt;</string>
			<key>scope</key>
			<string>HTML</string>
		</dict>
		<dict>
			<key>extensions</key>
			<string>js</string>
			<key>formatString</key>
			<string>&lt;script type="text/javascript" src="&lt;&lt;&lt;RELATIVE-PATH&gt;&gt;&gt;"&gt;&lt;/script&gt;</string>
			<key>scope</key>
			<string>HTML</string>
		</dict>
		<dict>
			<key>extensions</key>
			<string>html, htm, php</string>
			<key>formatString</key>
			<string>&lt;a href="&lt;&lt;&lt;RELATIVE-PATH&gt;&gt;&gt;" title="&lt;&lt;&lt;FILENAME-NOSUFFIX&gt;&gt;&gt;"&gt;&lt;/a&gt;</string>
			<key>scope</key>
			<string>HTML</string>
		</dict>
		<dict>
			<key>formatString</key>
			<string>url("&lt;&lt;&lt;RELATIVE-PATH&gt;&gt;&gt;")</string>
			<key>scope</key>
			<string>CSS</string>
		</dict>
	</array>
	<key>font</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwTHR4fICEnVSRudWxs0w0O
	DxARElYkY2xhc3NfEBdOU0ZvbnREZXNjcmlwdG9yT3B0aW9uc18QGk5TRm9udERlc2Ny
	aXB0b3JBdHRyaWJ1dGVzgAgSgAAAAIAC0xQVDRYZHFdOUy5rZXlzWk5TLm9iamVjdHOi
	FxiAA4AEohobgAWABoAHXxATTlNGb250U2l6ZUF0dHJpYnV0ZV8QE05TRm9udE5hbWVB
	dHRyaWJ1dGUjQCoAAAAAAABZSGVsdmV0aWNh0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c1xOU0RpY3Rpb25hcnmiJCZYTlNPYmplY3TSIiMoKV8QEE5TRm9udERlc2NyaXB0b3Ki
	KiZfEBBOU0ZvbnREZXNjcmlwdG9yAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagBx
	AIsAqACqAK8AsQC4AMAAywDOANAA0gDVANcA2QDbAPEBBwEQARoBHwEqATMBQAFDAUwB
	UQFkAWcAAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAABeg==
	</data>
	<key>hangingIndentWidth</key>
	<false/>
	<key>highlightBraces</key>
	<true/>
	<key>highlightCurrentLine</key>
	<false/>
	<key>highlightSelectionInstance</key>
	<true/>
	<key>indentWithTabKey</key>
	<false/>
	<key>insertsCommentDelimitersAfterIndent</key>
	<true/>
	<key>ligature</key>
	<true/>
	<key>lineHeight</key>
	<real>1.3</real>
	<key>modes</key>
	<dict/>
	<key>monospacedFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwTHR4fICEnVSRudWxs0w0O
	DxARElYkY2xhc3NfEBdOU0ZvbnREZXNjcmlwdG9yT3B0aW9uc18QGk5TRm9udERlc2Ny
	aXB0b3JBdHRyaWJ1dGVzgAgSgAAAAIAC0xQVDRYZHFdOUy5rZXlzWk5TLm9iamVjdHOi
	FxiAA4AEohobgAWABoAHXxATTlNGb250U2l6ZUF0dHJpYnV0ZV8QE05TRm9udE5hbWVB
	dHRyaWJ1dGUjQCoAAAAAAABZSGVsdmV0aWNh0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c1xOU0RpY3Rpb25hcnmiJCZYTlNPYmplY3TSIiMoKV8QEE5TRm9udERlc2NyaXB0b3Ki
	KiZfEBBOU0ZvbnREZXNjcmlwdG9yAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagBx
	AIsAqACqAK8AsQC4AMAAywDOANAA0gDVANcA2QDbAPEBBwEQARoBHwEqATMBQAFDAUwB
	UQFkAWcAAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAABeg==
	</data>
	<key>monospacedLigature</key>
	<false/>
	<key>monospacedShouldAntialias</key>
	<true/>
	<key>noDocumentOnLaunchOption</key>
	<false/>
	<key>overscrollRate</key>
	<false/>
	<key>pageGuideColumn</key>
	<integer>80</integer>
	<key>pinsThemeAppearance</key>
	<true/>
	<key>referToEncodingTag</key>
	<true/>
	<key>saveUTF8BOM</key>
	<false/>
	<key>selectionInstanceHighlightDelay</key>
	<real>0.5</real>
	<key>shouldAntialias</key>
	<true/>
	<key>showIndentGuides</key>
	<false/>
	<key>showInvisibleNewLine</key>
	<true/>
	<key>showInvisibleSpace</key>
	<false/>
	<key>showInvisibleTab</key>
	<true/>
	<key>showInvisibleWhitespaces</key>
	<true/>
	<key>showInvisibles</key>
	<false/>
	<key>showLineNumberSeparator</key>
	<false/>
	<key>showLineNumbers</key>
	<true/>
	<key>showOtherInvisibleChars</key>
	<true/>
	<key>showPageGuide</key>
	<false/>
	<key>showStatusBarChars</key>
	<true/>
	<key>showStatusBarColumn</key>
	<false/>
	<key>showStatusBarLine</key>
	<true/>
	<key>showStatusBarLines</key>
	<true/>
	<key>showStatusBarLocation</key>
	<true/>
	<key>showStatusBarWords</key>
	<false/>
	<key>suppressesInconsistentLineEndingAlert</key>
	<false/>
	<key>tabWidth</key>
	<integer>4</integer>
	<key>trimsWhitespaceOnlyLines</key>
	<false/>
	<key>windowAlpha</key>
	<true/>
	<key>windowTabbing</key>
	<integer>-1</integer>
	<key>wrapLines</key>
	<true/>
	<key>writingDirection</key>
	<false/>
</dict>
</plist>
