<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appearanceSize</key>
	<string>0</string>
	<key>appearanceStyle</key>
	<string>0</string>
	<key>appearanceTheme</key>
	<string>2</string>
	<key>appsToShow3</key>
	<string>0</string>
	<key>appsToShow4</key>
	<string>1</string>
	<key>captureWindowsInBackground</key>
	<string>true</string>
	<key>crashPolicy</key>
	<string>2</string>
	<key>cursorFollowFocus</key>
	<string>1</string>
	<key>exceptions</key>
	<string>[{"bundleIdentifier":"com.hegenberg.BetterTouchTool","hide":"2","ignore":"0"},{"bundleIdentifier":"me.damir.dropover-mac","hide":"1","ignore":"0"},{"bundleIdentifier":"eu.exelban.Stats","hide":"1","ignore":"0"},{"ignore":"0","bundleIdentifier":"app.cotypist.Cotypist","hide":"1"},{"ignore":"0","bundleIdentifier":"waikiki.program.Launchpad","hide":"1"},{"ignore":"0","bundleIdentifier":"com.alexbeals.SpacesRenamer","hide":"1"},{"ignore":"0","bundleIdentifier":"sh.mackie.Stackline","hide":"2"}]</string>
	<key>fadeOutAnimation</key>
	<string>true</string>
	<key>hideShowAppShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAFEABRZ9IeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>G</string>
	</dict>
	<key>holdShortcut2</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut3</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut4</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRH//xIACAAAUNIeHyAhWiRjbGFzc25h
		bWVYJGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkA
		MgA3AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDN
		ANIA0wDYAOMA7AD3APoAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAAB
		Aw==
		</data>
		<key>string</key>
		<string>⌥</string>
	</dict>
	<key>menubarIcon</key>
	<string>2</string>
	<key>menubarIconShown</key>
	<string>true</string>
	<key>mouseHoverEnabled</key>
	<string>true</string>
	<key>nextWindowGesture</key>
	<string>3</string>
	<key>nextWindowShortcut3</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAwEABRCdIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>⇥</string>
	</dict>
	<key>nextWindowShortcut4</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAyEABRYNIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>`</string>
	</dict>
	<key>previewFadeInAnimation</key>
	<string>true</string>
	<key>previewFocusedWindow</key>
	<string>false</string>
	<key>screenRecordingPermissionSkipped</key>
	<string>true</string>
	<key>screensToShow</key>
	<string>1</string>
	<key>screensToShow3</key>
	<string>1</string>
	<key>screensToShow4</key>
	<string>1</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutCount</key>
	<string>4</string>
	<key>shortcutStyle</key>
	<string>0</string>
	<key>showFullscreenWindows</key>
	<string>1</string>
	<key>showFullscreenWindows10</key>
	<string>1</string>
	<key>showFullscreenWindows2</key>
	<string>0</string>
	<key>showFullscreenWindows3</key>
	<string>0</string>
	<key>showFullscreenWindows4</key>
	<string>1</string>
	<key>showHiddenWindows</key>
	<string>1</string>
	<key>showHiddenWindows10</key>
	<string>1</string>
	<key>showHiddenWindows2</key>
	<string>1</string>
	<key>showHiddenWindows3</key>
	<string>1</string>
	<key>showHiddenWindows4</key>
	<string>1</string>
	<key>showMinimizedWindows</key>
	<string>1</string>
	<key>showMinimizedWindows10</key>
	<string>1</string>
	<key>showMinimizedWindows2</key>
	<string>1</string>
	<key>showMinimizedWindows3</key>
	<string>1</string>
	<key>showMinimizedWindows4</key>
	<string>1</string>
	<key>showOnScreen</key>
	<string>0</string>
	<key>showTabsAsWindows10</key>
	<string>1</string>
	<key>showTabsAsWindows2</key>
	<string>1</string>
	<key>showTabsAsWindows3</key>
	<string>1</string>
	<key>showTabsAsWindows4</key>
	<string>1</string>
	<key>showTabsAsWindows5</key>
	<string>1</string>
	<key>showTabsAsWindows6</key>
	<string>1</string>
	<key>showTabsAsWindows7</key>
	<string>1</string>
	<key>showTabsAsWindows8</key>
	<string>1</string>
	<key>showTabsAsWindows9</key>
	<string>1</string>
	<key>showTitles</key>
	<string>2</string>
	<key>showWindowlessApps</key>
	<string>1</string>
	<key>showWindowlessApps10</key>
	<string>1</string>
	<key>showWindowlessApps2</key>
	<string>1</string>
	<key>showWindowlessApps3</key>
	<string>1</string>
	<key>showWindowlessApps4</key>
	<string>1</string>
	<key>spacesToShow</key>
	<string>1</string>
	<key>spacesToShow3</key>
	<string>0</string>
	<key>spacesToShow4</key>
	<string>1</string>
	<key>titleTruncation</key>
	<string>2</string>
	<key>updatePolicy</key>
	<string>0</string>
	<key>vimKeysEnabled</key>
	<string>true</string>
	<key>windowDisplayDelay</key>
	<string>100</string>
</dict>
</plist>
