<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>23277D75-B7A7-4D04-960B-53C7BF9F3917_details</key>
	<false/>
	<key>6DCAEC84-5091-4878-8B4C-3197660DC6C8_details</key>
	<true/>
	<key>B1EDC6C8-F3FD-467E-9F04-9F9B4419F9C4_details</key>
	<true/>
	<key>Battery_barChart_position</key>
	<integer>0</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>2</integer>
	<key>Battery_battery_additional</key>
	<string>none</string>
	<key>Battery_battery_chargerInside</key>
	<true/>
	<key>Battery_battery_color</key>
	<false/>
	<key>Battery_battery_details_mode</key>
	<string>percentageAndTime</string>
	<key>Battery_battery_hideAdditionalWhenFull</key>
	<false/>
	<key>Battery_battery_position</key>
	<integer>3</integer>
	<key>Battery_battery_xlSize</key>
	<false/>
	<key>Battery_color</key>
	<true/>
	<key>Battery_label_position</key>
	<integer>1</integer>
	<key>Battery_mini_position</key>
	<integer>4</integer>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>Battery_oneView</key>
	<true/>
	<key>Battery_popup_keyboardShortcut</key>
	<array>
		<integer>59</integer>
		<integer>55</integer>
		<integer>58</integer>
		<integer>11</integer>
	</array>
	<key>Battery_position</key>
	<integer>5</integer>
	<key>Battery_processes</key>
	<integer>15</integer>
	<key>Battery_state</key>
	<true/>
	<key>Battery_timeFormat</key>
	<string>short</string>
	<key>Battery_widget</key>
	<string>bar_chart</string>
	<key>Bluetooth_position</key>
	<integer>7</integer>
	<key>Bluetooth_sensors_mode</key>
	<string>oneRow</string>
	<key>Bluetooth_sensors_monospacedFont</key>
	<false/>
	<key>Bluetooth_state</key>
	<false/>
	<key>C1671B3B-DFD0-45FD-8281-E89C1F33FFD8_details</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>2</integer>
	<key>CPU_chartColor</key>
	<string>white</string>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChartHistory</key>
	<integer>60</integer>
	<key>CPU_lineChart_position</key>
	<integer>5</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>utilization</string>
	<key>CPU_line_chart_frame</key>
	<true/>
	<key>CPU_line_chart_label</key>
	<true/>
	<key>CPU_line_chart_value</key>
	<true/>
	<key>CPU_line_chart_valueColor</key>
	<true/>
	<key>CPU_mini_alignment</key>
	<string>center</string>
	<key>CPU_mini_color</key>
	<string>utilization</string>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_pieChart_position</key>
	<integer>3</integer>
	<key>CPU_popup_keyboardShortcut</key>
	<array>
		<integer>59</integer>
		<integer>55</integer>
		<integer>58</integer>
		<integer>8</integer>
	</array>
	<key>CPU_position</key>
	<integer>3</integer>
	<key>CPU_processes</key>
	<integer>15</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>4</integer>
	<key>CPU_updateInterval</key>
	<integer>5</integer>
	<key>CPU_updateTopInterval</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>Clock_sensors_monospacedFont</key>
	<true/>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>DE52D400-8635-486D-A4E5-1B5D7F0DBFC7_details</key>
	<false/>
	<key>Disk_C1671B3B-DFD0-45FD-8281-E89C1F33FFD8_popup</key>
	<false/>
	<key>Disk_barChart_position</key>
	<integer>0</integer>
	<key>Disk_disk</key>
	<string>Macintosh SSD</string>
	<key>Disk_label_position</key>
	<integer>1</integer>
	<key>Disk_memory_position</key>
	<integer>6</integer>
	<key>Disk_mini_position</key>
	<integer>4</integer>
	<key>Disk_networkChart_position</key>
	<integer>2</integer>
	<key>Disk_pieChart_position</key>
	<integer>5</integer>
	<key>Disk_popup_keyboardShortcut</key>
	<array>
		<integer>59</integer>
		<integer>55</integer>
		<integer>58</integer>
		<integer>1</integer>
	</array>
	<key>Disk_position</key>
	<integer>1</integer>
	<key>Disk_processes</key>
	<integer>15</integer>
	<key>Disk_readColor</key>
	<string>secondBlue</string>
	<key>Disk_removable</key>
	<true/>
	<key>Disk_speed_position</key>
	<integer>3</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_updateInterval</key>
	<integer>1</integer>
	<key>Disk_widget</key>
	<string>bar_chart</string>
	<key>Disk_writeColor</key>
	<string>secondRed</string>
	<key>EB7B352A-93CB-4C6B-A7E5-D978D09D97E7_details</key>
	<true/>
	<key>FAN_bar_chart_box</key>
	<false/>
	<key>FAN_bar_chart_color</key>
	<string>utilization</string>
	<key>FAN_bar_chart_frame</key>
	<true/>
	<key>FAN_bar_chart_label</key>
	<true/>
	<key>GPU_barChart_position</key>
	<integer>2</integer>
	<key>GPU_label_position</key>
	<integer>3</integer>
	<key>GPU_lineChart_position</key>
	<integer>1</integer>
	<key>GPU_line_chart_color</key>
	<string>monochrome</string>
	<key>GPU_mini_alignment</key>
	<string>center</string>
	<key>GPU_mini_color</key>
	<string>utilization</string>
	<key>GPU_mini_label</key>
	<true/>
	<key>GPU_mini_position</key>
	<integer>0</integer>
	<key>GPU_position</key>
	<integer>2</integer>
	<key>GPU_state</key>
	<false/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_updateInterval</key>
	<integer>5</integer>
	<key>GPU_widget</key>
	<string>mini</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>Macintosh SSD 2_file:///Volumes/Macintosh%20SSD%202/_usedSpace</key>
	<false/>
	<key>Macintosh SSD_file:///_usedSpace</key>
	<false/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va+wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAFplYgAJAAAAAQEAAERv
	Y3VtZW50cwAAAAwAAAABBgAAEAAAACAAAAAsAAAACAAAAAQDAABkQgAAAAAAAAgAAAAE
	AwAAtHUAAAAAAAAIAAAABAMAACrUAAAAAAAADAAAAAEGAABUAAAAZAAAAHQAAAAIAAAA
	AAQAAEHEFkKRgAAAGAAAAAECAAACAAAAAAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUA
	AAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDQAAAAEB
	AABNYWNpbnRvc2ggU1NEAAAACAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcapP0eAAAAk
	AAAAAQEAADNDQTEwODNGLTEyRTAtNEZEOS04QjBELTUyQjU3MjNFNUE0MxgAAAABAgAA
	gQAAAAEAAADvEwAAAQAAAO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmliAAAA
	AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABzY29kAgAAAAAAAADwAAAA/v///wEA
	AAAAAAAAEwAAAAQQAABAAAAAAAAAAAUQAACEAAAAAAAAABAQAACoAAAAAAAAAEAQAACY
	AAAAAAAAAAIgAACAAQAAAAAAAAUgAADsAAAAAAAAABAgAAD8AAAAAAAAABEgAAA0AQAA
	AAAAABIgAAAUAQAAAAAAABMgAAAkAQAAAAAAACAgAABgAQAAAAAAADAgAADIAAAAAAAA
	AAHAAADQAAAAAAAAABHAAAAgAAAAAAAAABLAAADgAAAAAAAAAAHQAADIAAAAAAAAABDQ
	AAAEAAAAAAAAABfwAAAsAAAAAAAAACLwAACMAQAAAAAAAA==
	</data>
	<key>NSStatusItem Preferred Position Battery</key>
	<real>5515</real>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>552</real>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<real>5781</real>
	<key>NSStatusItem Preferred Position Disk</key>
	<real>204</real>
	<key>NSStatusItem Preferred Position Disk_bar_chart</key>
	<real>5719</real>
	<key>NSStatusItem Preferred Position GPU</key>
	<real>139</real>
	<key>NSStatusItem Preferred Position Network</key>
	<real>5576</real>
	<key>NSStatusItem Preferred Position RAM</key>
	<real>609</real>
	<key>NSStatusItem Preferred Position RAM_mini</key>
	<real>5740</real>
	<key>NSStatusItem Preferred Position Sensors</key>
	<real>386</real>
	<key>NSStatusItem Preferred Position Sensors_sensors</key>
	<real>5683</real>
	<key>NSStatusItem Restore Position Battery_battery</key>
	<integer>488</integer>
	<key>NSStatusItem Restore Position Battery_battery_details</key>
	<integer>748</integer>
	<key>NSStatusItem Restore Position CPU_line_chart</key>
	<integer>563</integer>
	<key>NSStatusItem Restore Position Disk_mini</key>
	<integer>358</integer>
	<key>NSStatusItem Restore Position GPU_mini</key>
	<integer>431</integer>
	<key>NSStatusItem Restore Position Network_speed</key>
	<integer>636</integer>
	<key>NSStatusItem Restore Position RAM_line_chart</key>
	<integer>613</integer>
	<key>NSStatusItem Restore Position RAM_pie_chart</key>
	<integer>5749</integer>
	<key>NSStatusItem Restore Position Sensors_bar_chart</key>
	<integer>635</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>455 469 800 448 0 0 1710 1074 </string>
	<key>Network_VPNMode</key>
	<false/>
	<key>Network_base</key>
	<string>bit</string>
	<key>Network_chartHistory</key>
	<integer>600</integer>
	<key>Network_chartScale</key>
	<string>none</string>
	<key>Network_downloadColor</key>
	<string>secondGreen</string>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>4</integer>
	<key>Network_network_chart_box</key>
	<false/>
	<key>Network_network_chart_frame</key>
	<true/>
	<key>Network_network_chart_label</key>
	<true/>
	<key>Network_network_chart_scale</key>
	<string>linear</string>
	<key>Network_oneView</key>
	<true/>
	<key>Network_popup_keyboardShortcut</key>
	<array>
		<integer>59</integer>
		<integer>55</integer>
		<integer>58</integer>
		<integer>45</integer>
	</array>
	<key>Network_position</key>
	<integer>0</integer>
	<key>Network_processes</key>
	<integer>15</integer>
	<key>Network_publicIPRefreshInterval</key>
	<string>24</string>
	<key>Network_reader</key>
	<string>interface</string>
	<key>Network_reverseOrder</key>
	<false/>
	<key>Network_speed_displayValue</key>
	<string>oi</string>
	<key>Network_speed_downloadColor</key>
	<string>secondGreen</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconAlignment</key>
	<string>right</string>
	<key>Network_speed_iconColor</key>
	<string>transparent</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>3</integer>
	<key>Network_speed_reverseOrder</key>
	<false/>
	<key>Network_speed_transparentIcons</key>
	<true/>
	<key>Network_speed_units</key>
	<true/>
	<key>Network_speed_uploadColor</key>
	<string>secondBlue</string>
	<key>Network_speed_value</key>
	<true/>
	<key>Network_speed_valueAlignment</key>
	<string>right</string>
	<key>Network_speed_valueColor</key>
	<string>default</string>
	<key>Network_state</key>
	<true/>
	<key>Network_state_activeColor</key>
	<string>secondGreen</string>
	<key>Network_state_position</key>
	<integer>0</integer>
	<key>Network_text_position</key>
	<integer>2</integer>
	<key>Network_uploadColor</key>
	<string>secondBlue</string>
	<key>Network_usageReset</key>
	<string>Never</string>
	<key>Network_widget</key>
	<string>state</string>
	<key>RAM_barChart_position</key>
	<integer>5</integer>
	<key>RAM_chartColor</key>
	<string>white</string>
	<key>RAM_compressedColor</key>
	<string>magenta</string>
	<key>RAM_label_position</key>
	<integer>3</integer>
	<key>RAM_lineChartHistory</key>
	<integer>60</integer>
	<key>RAM_lineChart_position</key>
	<integer>6</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_color</key>
	<string>pressure</string>
	<key>RAM_line_chart_frame</key>
	<true/>
	<key>RAM_line_chart_label</key>
	<true/>
	<key>RAM_line_chart_value</key>
	<true/>
	<key>RAM_line_chart_valueColor</key>
	<true/>
	<key>RAM_memory_orderReversed</key>
	<false/>
	<key>RAM_memory_position</key>
	<integer>4</integer>
	<key>RAM_memory_symbols</key>
	<false/>
	<key>RAM_mini_alignment</key>
	<string>center</string>
	<key>RAM_mini_color</key>
	<string>pressure</string>
	<key>RAM_mini_label</key>
	<true/>
	<key>RAM_mini_position</key>
	<integer>0</integer>
	<key>RAM_pieChart_position</key>
	<integer>1</integer>
	<key>RAM_pie_chart_label</key>
	<false/>
	<key>RAM_pie_chart_monochrome</key>
	<false/>
	<key>RAM_popup_keyboardShortcut</key>
	<array>
		<integer>59</integer>
		<integer>55</integer>
		<integer>58</integer>
		<integer>15</integer>
	</array>
	<key>RAM_position</key>
	<integer>4</integer>
	<key>RAM_processes</key>
	<integer>15</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>7</integer>
	<key>RAM_text_position</key>
	<integer>2</integer>
	<key>RAM_updateInterval</key>
	<integer>5</integer>
	<key>RAM_updateTopInterval</key>
	<integer>5</integer>
	<key>RAM_widget</key>
	<string>mini</string>
	<key>SSD_bar_chart_box</key>
	<false/>
	<key>SSD_bar_chart_color</key>
	<string>utilization</string>
	<key>SSD_bar_chart_frame</key>
	<true/>
	<key>SSD_bar_chart_label</key>
	<false/>
	<key>SSD_mini_alignment</key>
	<string>center</string>
	<key>SSD_mini_color</key>
	<string>utilization</string>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_fanValue</key>
	<string>rpm</string>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>1</integer>
	<key>Sensors_popup_fanValue</key>
	<string>rpm</string>
	<key>Sensors_popup_keyboardShortcut</key>
	<array>
		<integer>59</integer>
		<integer>55</integer>
		<integer>58</integer>
		<integer>17</integer>
	</array>
	<key>Sensors_position</key>
	<integer>6</integer>
	<key>Sensors_sensor</key>
	<string>Average System Total</string>
	<key>Sensors_sensors_alignment</key>
	<string>center</string>
	<key>Sensors_sensors_mode</key>
	<string>twoRows</string>
	<key>Sensors_sensors_monospacedFont</key>
	<false/>
	<key>Sensors_sensors_position</key>
	<integer>0</integer>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_speed</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_updateInterval</key>
	<integer>5</integer>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>ble_90-9c-4a-a2-a8-6e</key>
	<false/>
	<key>disk4s1_details</key>
	<true/>
	<key>dockIcon</key>
	<false/>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_ANE Power</key>
	<false/>
	<key>sensor_Average CPU</key>
	<true/>
	<key>sensor_Average GPU</key>
	<false/>
	<key>sensor_Average System Total</key>
	<false/>
	<key>sensor_CPU Power</key>
	<false/>
	<key>sensor_GPU Power</key>
	<false/>
	<key>sensor_Hottest CPU</key>
	<true/>
	<key>sensor_ID0R</key>
	<false/>
	<key>sensor_PCI Power</key>
	<false/>
	<key>sensor_PDTR</key>
	<false/>
	<key>sensor_PPBR</key>
	<false/>
	<key>sensor_PSTR</key>
	<false/>
	<key>sensor_RAM Power</key>
	<false/>
	<key>sensor_TB1T</key>
	<false/>
	<key>sensor_TB1T_notification</key>
	<string></string>
	<key>sensor_TB2T</key>
	<false/>
	<key>sensor_TH0x</key>
	<false/>
	<key>sensor_TW0P</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>sensor_Tp01</key>
	<false/>
	<key>sensor_Tp0A</key>
	<false/>
	<key>sensor_Tp0f</key>
	<false/>
	<key>sensor_VD0R</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1764265157</integer>
	<key>telemetry</key>
	<true/>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>update-interval</key>
	<string>Never</string>
	<key>updater_check_ts</key>
	<integer>1759706607</integer>
	<key>version</key>
	<string>2.11.61</string>
</dict>
</plist>
